# Auto detect text files and perform LF normalization
* text=auto

# Ensure Python files are normalized
*.py text eol=lf

# Binary files
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.pdf binary
*.xls binary
*.xlsx binary
*.db binary
